<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8">
    <style type="text/css">
        fieldset{width: 350px;background:#4876FF;height: 200px;margin: 150px 400px 0px}
        button{maogin: 0; padding: 0}


    </style>
</head>
<body bgcolor="#7EC0EE">
<form action="/myauth" method="post">
    <label>用户名：</label>
    <input type="text"  name="user" value="test">(请输入用户名)</br></br>
    <label>密  码：</label>
    <input type="password" name="pass"  value="123456">（输入密码）<br><br>
    <input type="submit" value="提交">
</form>
</body>
</html>